:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --header-color: #212121;
  --white-color: #ffffff;
  --background-btn: ##f5f4fa;
  --background-section: #2f303a;
  --social-link-color: #afb1b8;
}
/* GENERAL */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.section {
  padding: 94px 0px;
}

header.section {
  padding-top: 0;
  padding-bottom: 0;
}
.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}
footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

nav {
  display: flex;
  align-items: center;
}

.container.header {
  display: flex;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);

  display: block;
}
.link.nav-contacts {
  display: flex;
  align-items: center;
  color: inherit;
}

.nav-contacts-icon-email,
.nav-contacts-icon-phone {
  stroke: currentColor;
  margin-right: 10px;
}

.nav-contacts-icon-email {
  width: 16px;
  height: 12px;
}
.nav-contacts-icon-phone {
  width: 10px;
  height: 16px;
}

.link:hover,
.link:focus,
.active {
  color: var(--accent-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  margin-right: 93px;
}
.blue-logo {
  color: var(--accent-color);
}
.black-logo {
  color: var(--header-color);
}
.white-logo {
  color: var(--white-color);
}

ul {
  list-style-type: none;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Footer */
.foot-adress {
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: var(--white-color);
  margin-bottom: 9px;
}
.foot-contacts {
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.container .link.logo {
  margin-top: 24px;
  margin-bottom: 25px;
}
address {
  font-style: normal;
}

address li:not(:last-child) {
  margin-bottom: 9px;
}

footer .container {
  display: flex;
}
.footer-contacts {
  margin-right: 70px;
}
.link.logo.footer {
  margin: 0px 0px 20px;
}

.footer-social-links > p {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--white-color);
}
.social-links {
  display: inline-flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:not(:nth-last-child()) {
  margin-right: 10px;
}
.social-link-svg {
  width: 20px;
  height: 20px;
  fill: var(--social-link-color);
}
.social-link-svg:hover,
.social-link-svg:focus {
  fill: var(--white-color);
}

footer .social-link-svg {
  fill: var(--white-color);
}

/* Studio */

.list > .item:not(:last-child) {
  margin-right: 50px;
}

.list.contacts {
  margin-left: auto;
}
.list.peculiarities,
.list.our-team {
  gap: 30px;
  align-items: flex-start;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);

  margin-bottom: 30px;
}
.hero.section,
footer.section {
  background-color: var(--background-section);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);

  display: block;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn:active,
.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.visially-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.peculiarities-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: var(--background-btn);
  border-radius: 4px;
}

.peculiarities-svg {
  width: 70px;
  height: 70px;
  fill: #188ce8;
}

.peculiarities h3 {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  color: var(--header-color);
  margin-bottom: 10px;
}

.peculiarities p {
  line-height: 1.71;
}
.section.our-mission {
  padding-top: 0;
}
h2.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--header-color);

  margin-bottom: 50px;
}
.our-team img {
  margin-bottom: 30px;
}
.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 10px;
}
.our-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.our-team .social-links {
  margin: 0 32px 30px;
}

.our-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.client-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--social-link-color);
  border-radius: 4px;
}
.client-link:hover,
.client-link:focus {
  cursor: pointer;
  border-color: var(--accent-color);
}

.client-link-svg {
  width: 106px;
  height: 60px;
  fill: var(--social-link-color);
}
.client-link-svg:hover,
.client-link-svg:focus {
  fill: var(--accent-color);
}

/* Portfolio */
.portfolio-img {
  margin-bottom: 20px;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  margin-left: 24px;
  margin-right: 24px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}
.list.buttons {
  justify-content: center;
  margin-bottom: 50px;
}
.list.buttons > .portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--header-color);
  background-color: var(--background-btn);

  padding: 6px 22px;
  border-radius: 4px;
}
.btn.common {
  padding-left: 25px;
  padding-right: 25px;
}
.btn:focus,
.btn:hover,
.btn:active {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.list.portfolio {
  flex-wrap: wrap;
}
.list.portfolio .portfolio-item {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.list.portfolio > .portfolio-item:nth-child(n + 7) {
  margin-bottom: 0px;
}
